
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome the Products tab</h2>

<p>Please follow below the products available in this month:</p>

<ul>
    <li>@Html.ActionLink("Laptop", "Details", "Product", new { ProductName = "Laptop" }, null  )</li>
    <li>@Html.ActionLink("Tablet", "Details", "Product", new { ProductName = "Tablet" }, null)</li>
    <li>@Html.ActionLink("Desktop", "Details", "Product", new { ProductName = "Desktop" }, null)</li>
</ul>

